 <!-- Foter -->
            <footer class="small-section bg-gray-lighter footer pb-60">
                <div class="container">

                    <div class="row mb-40 align-left">

                        <div class="col-sm-12">
                            <div class="row">

                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Call Us
                                        </div>
                                        <div class="ci-text">
                                            +61 3 8376 6284
                                        </div>
                                    </div>
                                </div>
                                <!-- End Phone -->

                                <!-- Email -->
                                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Email
                                        </div>
                                        <div class="ci-text">
                                            <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Email -->

                                <!-- Address -->
                                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Address
                                        </div>
                                        <div class="ci-text">
                                            245 Quigley Blvd, Ste K
                                        </div>
                                    </div>
                                </div>
                                <!-- End Address -->

                                <!-- Opening Time -->
                                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            We are opened
                                        </div>
                                        <div class="ci-text">
                                            Monday-Friday: 11am to 12pm <br />
                                            Saturday, Sunday: 9am to&nbsp;3pm
                                        </div>
                                    </div>
                                </div>
                                <!-- End Opening Time -->

                            </div>
                        </div>

                    </div>

                    <!-- Divider -->
                    <hr class="mt-0 mb-60 "/>
                    <!-- End Divider -->

                    <!-- Social Links -->
                    <div class="footer-social-links mb-30">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <!-- End Social Links -->

                    <!-- Footer Text -->
                    <div class="footer-text">

                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Rhythm 2019</a>.
                        </div>
                        <!-- End Copyright -->

                        <div class="footer-made">
                            Made with love for great people.
                        </div>

                    </div>
                    <!-- End Footer Text -->

                 </div>


                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->

            </footer>
            <!-- End Foter -->