<nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="images/logo-white.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><a href="{% url 'home'%}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="#menu">Menu</a></li>
                            <li><a href="#location">Location</a></li>

                            <!-- Button -->
                            <li>
                                <a href="{% url 'login' %}" target="_blank"><span class="btn btn-mod btn-circle btn-w">SignIN</span></a>
                            </li>
                            <!-- End Button -->
                            <!-- Button -->
                            <li>
                                <a href="#reservations" target="_blank"><span class="btn btn-mod btn-circle btn-w">Signup</span></a>
                            </li>
                            <!-- End Button -->

                        </ul>
                    </div>
                </div>
            </nav>