<!-- templates/_base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Recipe Api{% endblock title %}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vertical-rhythm.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

  </head>
 <body class="appear-animate">

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
        <div class="page" id="top">

            {% block hero %}

            {% endblock hero %}


            <!-- Navigation panel -->

            {% include 'partials/_navbar.html' %}

            <!-- End Navigation panel -->


            {% block content %}

            {% endblock content %}


           {% include 'partials/_footer.html' %}


            <!-- Buy Button -->
            <a href="https://themeforest.net/item/rhythm-multipurpose-onemulti-page-template/10140354" target="_blank" class="buy-button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Buy</span></a>
            <!-- End Buy Button -->


        </div>
        <!-- End Page Wrap -->


        <!-- JS -->
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.localScroll.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.viewport.mini.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.appear.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fitvids.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/wow.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/contact-reservations-form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <!--[if lt IE 10]><script type="text/javascript" src="{% static 'js/placeholder.js' %}"></script><![endif]-->

    </body>

</html>
